/* Universal */

html, body {
    width: 100%;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

a {
    text-decoration-line: none;
    color: inherit;
}

button {
    background-color: inherit;
    border: none;
}

h1, h2, h3, h4,
.headernav-button, 
.more-link {
    font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
}

.mobile-image {
    display: none;
}

.section,
.subsection {
    width: 100%;
    min-height: 29.4rem;
    display: flex;
}

.section-text,
.section-visual,
.subsection {
    width: 50%;
}

.section-text,
.subsection {
    display: flex;
}

.logo {
    width: fit-content;
}

/* COLORS */

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);
    --light-mod-cyan: hsl(167, 44%, 70%);
    --verydark-desat-blue: hsl(212, 27%, 19%);
    --verydark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/* Header */

.header {
    flex-direction: column;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
}

.header-logo {
    height: 2rem;
    width: auto;
}

.headernav-link {
    margin-right: 2.5rem;
}

.headernav-button {
    padding: 1.25rem 2rem;
    border-radius: 1.65rem;
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85rem;
}

.header-splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 39rem;
}

.header-splash h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
    margin: 5rem 0 4rem 0;
}

/* Verb Sections */

.section-text {
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
    background: var(--white);
    color: var(--dark-grayish-blue);
    font-size: 1rem;
}

.section-text h2,
.section-text p {
    margin-bottom: 2rem;
}

.section-text h2,
.more-link {
    color: var(--verydark-desat-blue);
}

.section-text h2 {
    font-weight: 900;
    font-size: 2.25rem;
}

.more-link {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

/* Feature Section */

.subsection {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
    background-position: center;
    background-size: cover;
}

.subsection-text {
    text-align: center;
    height: 33%;
}

.subsection h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.subsection p {
    max-width: 20rem;
    font-size: 0.95rem;

}

.sub-graphicdesign {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    color: var(--dark-desat-cyan);
}

.sub-photography {
    background-image: url(../images/desktop/image-photography.jpg);
    color: var(--dark-blue);
}

/* Client Testimonials */

.testimonial-section {
    min-height: 36rem;
    background-color: var(--white);
}

.testimonial-section,
.client-quote  {
    flex-direction: column;
}

.article-wrapper {
    display: flex;
}

.testimonial-section,
.article-wrapper,
.client-quote {
    align-items: center;
    justify-content: center;
}

.testimonial-section h3 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--grayish-blue);
    margin-bottom: 3rem;
}

.client-quote {
    width: 26%;
    text-align: center;
    color: var(--verydark-grayish-blue);
}

.client-avatar,
.quote-body,
.client-name {
    margin: 2rem;
}

.client-image {
    margin: 0 auto;
    border-radius: 50%;
    width: 4rem;
}

.client-h4 {
    color: var(--verydark-desat-blue);
}

.client-h5 {
    margin-top: 0.5rem;
    color: var(--grayish-blue);
}

/* Gallery Section */

#gallery-section {
    min-height: auto;
}

.gallery-image {
    width: 25%;
}

/* Footer */

.footer {
    flex-direction: column;
    align-items: center;
    background-color: var(--light-mod-cyan);
    color: var(--dark-mod-cyan);
    min-height: 12rem;
}

.footer-logo {
    margin: 2rem;
}

.footer-nav,
.footer-social {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.footernav-link {
    margin: 0 1.25rem;
}

.social-icon {
    margin: 1.5rem 0.5rem;
}

/* Attribution */

.attribution {
    display: flex;
    justify-content: center;
}

.attribution p {
    font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
    padding: 1rem 0.20rem;
    font-size: 0.95rem;
    font-style: italic;
}

/* Media Queries */
