/* Universal */

html, body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.mobile-image {
    display: none;
}

/* COLORS */

/* Header */

/* Section */

/* Section */

/* Section */

/* Footer */

/* Attribution */

/* Media Queries */
