/* Universal */

html, body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.mobile-image {
    display: none;
}

.section,
#client-testimonials {
    width: 100%;
    display: flex;
}

.section-text,
.section-visual {
    width: 50%;
}

.section-text {
    padding: 12rem;
}

.logo {
    width: fit-content;
}

/* COLORS */

/* Header */

.header {
    justify-content: space-between;
}

/* Hero Section */

.hero-section {
    text-align: center;
}

/* Verb Sections */

/* Feature Section */

.subsection {
    width: 50%;
    padding: 12rem;
}

/* Client Testimonials */

#client-testimonials,
.article-wrapper,
.client-quote {
    display: flex;
}

#client-testimonials,
.client-quote {
    flex-direction: column;
    align-items: center;
}

.client-h3 {
    margin-bottom: 2rem;
}

.article-wrapper {
    justify-content: center;
}

.client-quote {
    width: 25%;
}

.client-avatar {
    border-radius: 50%;
}

/* Gallery Section */

.gallery-image {
    width: 25%;
}

/* Footer */

.footer {
    flex-direction: column;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: center;
}

/* Attribution */

.attribution {
    display: flex;
    justify-content: center;
}

.attribution p {
    margin: 1rem;
}

/* Media Queries */
